<!DOCTYPE configuration>
<configuration>

	<property name="OUTPUT_PATTERN"
		value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
	<property name="LOG_DIR" value="${catalina.base}/logs/demo"/>
	<property name="ENCODING" value="UTF-8"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${OUTPUT_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="APPLOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/application-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>${ENCODING}</charset>
			<pattern>${OUTPUT_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="ERRLOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/exception-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>${ENCODING}</charset>
			<pattern>${OUTPUT_PATTERN}</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="WARN"/>
	<logger name="org.hibernate" level="WARN"/>

	<root level="debug">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="APPLOG"/>
		<appender-ref ref="ERRLOG"/>
	</root>

</configuration>